<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/paginainicialCss/paginainicial.css">
    <link rel="stylesheet" href="/copiaecola/forms.css">
    <link rel="stylesheet" href="/copiaecola/navbar.css">
    <title>Especiarias Da Vovó</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Especiarias Da Vovó</label>
            <ul>
                <li><a href="/especiarias/inicio">Home</a></li>
                <li><a href="/especiarias/produtos">Produtos</a></li>
                <li><a class="active">Sobre nós</a></li>
                <li><a href="/especiarias/cadastro">Cadastro</a></li>
            </ul>
      </nav>

    <div class="corposite">
        <div class="apresentacao">
        </div>
        <div class="nesse">
            <p>
                Nesta página vamos falar sobre nosso trabalho
            </p>
        </div>

        <div class="restocorpo">
            <br>
            <div class="noticias">
                <center>
                <p>SOBRE NÓS</p>
            </div>
            <br>
            <div class="subtexto">

                    <font face="Arial" style="text-indent: 6rem;"> 
 
                        <p> 
                          Bem-vindo à Especiarias da Vovó, uma loja apaixonada por trazer sabores autênticos e especiais para a sua cozinha. Desde a nossa fundação em 2023, nos dedicamos a oferecer uma ampla variedade de especiarias cuidadosamente selecionadas que despertam os sentidos e transformam suas refeições em experiências inesquecíveis. 
                            
                            
                            Na Especiarias da Vovó, valorizamos a tradição e o amor pela culinária, que são transmitidos de geração em geração. Nossa empresa foi inspirada pela avó de um dos fundadores, uma mestra culinária que dominava o uso das especiarias para criar pratos deliciosos e únicos. Seguindo os ensinamentos e os segredos compartilhados pela vovó, nos empenhamos em trazer esses sabores excepcionais para a sua cozinha. 
                            
                            Em nosso extenso catálogo, você encontrará uma variedade impressionante de especiarias e temperos, desde os clássicos indispensáveis, como pimenta-do-reino e canela, até misturas exclusivas que criamos para proporcionar sabores únicos em seus pratos. 
                            
                            Nossa missão é "Dar mais sabor à sua vida".
                            
                            Os nossos profissionais são experientes na seleção de temperos artesanais de todos os tipos. Praticamente artistas para garantir a qualidade e satisfação dos nossos clientes. 
                            
                            Valorizamos nossos clientes e nos esforçamos para oferecer um atendimento personalizado e eficiente. Seja você um chef profissional, um amante da culinária ou alguém que está começando a se aventurar na cozinha, estamos aqui para ajudar e proporcionar uma experiência completa. 
                        </p>
                    </div>
                </font> <br />
            </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                
            
      
        

            </div>
            <footer class="footer"> 

                <div class="left"> 
        
                    <h4 class="title-footer"> Especiarias da <span> Vovó </span></h4> 
        
                    <p class="links"> 
                        <a href="/especiarias/inicio" title="Home">Home</a> 
                        <a href="/especiarias/produtos" title="Html"> Produtos</a> 
                        <a href="/especiarias/sobrenos" title="Css"> Sobre nós</a> 
                        <a href="/especiarias/cadastro" title="jQuery"> Cadastro </a> 
                    </p> 
        
                  
                        <p class="Copyright"> Copyright &copy; - Todos os Direitos Reservados.</p> 
        
                </div>
        
                <div class="right"> 
        
                    <form action="/especiarias/sobrenos" method="post"> 
                          <h1 class='segundoh1'> Fale Conosco</h1>
                          <br>
                        <input type="text" name="nome" placeholder="Nome" required=""/> 
        
                        <input type="email" name="email" placeholder="E-mail" required=""/> 
        
                        <input type="text" name="assunto" placeholder="Assunto" required=""/> 
        
                        <textarea name="messagem" placeholder="Messagem" required=""></textarea> 
        
                        <button class="btn">Enviar</button> 
        
                    </form> 
        
                </div>
        
            </footer> 
        
        </div>
        
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
               
          </nav>
        
    
    </div>

</body>
</html>